<!-- back too all posts -->
<h6><a href="/recipes">Back to all recipes</a></h6>

<form method="POST" action="/recipes">
  <p>Add a new Recipe:
    <p>Name: <input type="text" name="name"></p>
    <p>Ingredients: <input type="text" name="ingredients"></p>
    <p>Cook time: <input type="text" name="cook_time"></p>
  </p>
  <input type="submit" value="submit">
</form>
